@model QLNhanSu.Models.ChucVu

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>ChucVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuongCoBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuongCoBan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenPB }) |
    @Html.ActionLink("Back to List", "Index")
</p>
